<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=121.42.164.134;Initial Catalog=OnLineAppoint;User ID=sa;password=SH_ntit"/>
    <!--<add name="TestDBEntities" connectionString="metadata=res://*/DBCont.csdl|res://*/DBCont.ssdl|res://*/DBCont.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TestDB;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
