<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <UI.Properties.Settings>
      <setting name="UI_Test_WSFaces" serializeAs="String">
        <value>http://localhost:4862/WSFaces.asmx</value>
      </setting>
      <setting name="UI_jiami_LiShuiServer" serializeAs="String">
        <value>http://localhost:4862/LiShuiServer.asmx</value>
      </setting>
      <setting name="UI_WebNtit_LiShuiServer" serializeAs="String">
        <value>http://10.178.227.93:1109/LiShuiServer.asmx</value>
      </setting>
    </UI.Properties.Settings>
  </applicationSettings>

  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=121.42.164.134;Initial Catalog=OnLineAppoint;User ID=sa;password=SH_ntit" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>